body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  header.title {
    margin-bottom: 20px;
  }
  
  h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 32px;
  }
  
  h2 {
    color: #006EB6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  main {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  ol.does-list {
    margin: 20px ;
    padding-left: 20px;
    list-style-type: decimal;
}
  
  footer {
    margin-top: 30px;
    padding: 20px 0;
  }
  
  footer img {
    width: 150px;
    max-width: 100%;     
    height: auto;
  }
  
  ol.does-list li {
    margin-bottom: 10px; 
  }
  
  ul {
    margin: 20px 0;
    padding-left: 20px;
    list-style-type: disc;
  }
  
  ul li {
    margin-bottom: 10px; 
  }

.dark {
    background-color: #333; 
    color: white; 
}

.dark h2 {
    color: #99CDEE; 
}

.dark .logo {
    content: url('images/byui-logo_white.png'); 
}

