/* General Page Styling */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #473144;
    margin: 0;
    padding: 0;
}

h1 {
    color: #473144;
    text-align: center;
}

h2 {
    color: #AF1B3F;
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    gap: 20px;
    border: 2px solid #EFC69B;
    justify-content: flex-end;
}

nav ul li a {
    text-decoration: none;
    color: #AF1B3F;
}

/* Main Layout */
main {
    display: flex;
    justify-content: space-between;
    max-width: 900px; /* Match width with navbar */
    margin: 20px auto;
}

/* Article Styling */
.article {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.book-meta {
    text-align: right;
    min-width: 150px;
    padding-right: 15px;
    border-right: 2px solid #EFC69B;
}

.book-review {
    flex: 1;
}

.book-review img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.filter-form {
    display: flex;
    width: 700px;
    border: 2px solid #EFC69B;
    margin: 20px;
}


